# ignore the GUN automake files
compile
config.h.in
config.status
config.h
depcomp
INSTALL
install-sh
missing
stamp-h1
Makefile.in
ltmain.sh
libtool
configure
ar--lib
**/autom4te.cache
**/.deps
*.m4
*.lo
*.guess
*.sub
*.log
*.o
*.la

# ignore cmake files
**/cmake-build-debug
**/build

# ignore visual studio generate files
**/Debug
**/Release
**/x64
**/.idea

/ipch
/.vs

/STL_Lerarn.VC.db
/STL_Lerarn.VC.VC.opendb
/STL_Lerarn.sdf
/STL_Lerarn.opensdf
/cmake-build-debug

CppBasic/STL/stl_function/func
CppBasic/STL/stl_function/bind
CppBasic/Linux_function/select/select
CppBasic/Linux_function/socket/tcp_base/server
CppBasic/Linux_function/socket/tcp_base/client
CppBasic/Linux_function/socket/tcp_base2/server2
CppBasic/Linux_function/socket/tcp_base2/client
CppBasic/Linux_function/socket/tcp_base2/server
CppBasic/Linux_function/socket/tcp_select/server
CppBasic/Linux_function/socket/tcp_select/server2
Usage/FTP/Linux/libCurl/ftp_client/ftp_get/DownReadme.md
Usage/FTP/Linux/libCurl/ftp_client/ftp_get/getftp
CppBasic/STL/time/clock
