/Release
/Debug

/ipch
/.vs
/x64

/CPPBasic/Debug
/CPPBasic/Release

/STL_Lerarn/Debug
/STL_Lerarn/Release

/CPPBasic/x64
/STL_Lerarn/x64

/STL_Lerarn.VC.db
/STL_Lerarn.VC.VC.opendb
/STL_Lerarn.sdf
/STL_Lerarn.opensdf
